build
.gradle
test/testDump*
test/res/httpie/result.txt
test/res/httpie/tmp.json
/jmeter.log
logs
project/project
project/target
target
tmp
.history
.cache
dist
/.idea
/*.iml
/*.iws
/*.ipr
*.iml
*.iws
*.ipr
.settings
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
dist/
logs/
test-result/
tmp/
modules/

#OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
npm-debug.log
nohup.out
test/a.json

#Linux Files
.swp
